name: Check for copyright header

on: [merge_group]

jobs:
  check-lean-files:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
      with:
        ref: ${{ github.event.pull_request.head.sha }}
    - name:
      run: |
        if git diff HEAD^..HEAD --name-only -- stage0 |
           grep -v -x -F stage0/src/stdlib_flags.h |
           grep -v -x -F stage0/src/lean.mk.in |
           grep -q .
        then
          echo "Found stage0 updates, please do not merge using the merge queue" | tee $GITHUB_STEP_SUMMARY
          exit 1
        fi
